@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
  background-color: black;
  font-family: 'Comfortaa';
  color: white;
}

#root {
  min-height: 100vh;
}